#team .teamOther {
	justify-content: center;
	align-items: center;
}

/*
	Normal View
*/
#team div img {
	max-width: 20em;
	width: 100%;
	min-width: 15em;

	display: block;
	object-fit: contain;

	border-radius: var(--rad);
}
#team div {
	margin: 0 0 0.5em 0;

	display: flex;
	flex-direction: row;

	text-align: justify;
	align-items: center;
}
#team div div {
	margin: 0;
	padding: 0;

	display: block;
}
#team div span {
	margin: 0 1em;
}

/*
  Gallery
*/

#team .gallery {
	margin-bottom: 1.5em;
	padding: 0.5em;

	display: flex;
	flex-direction: column;
}
#team .gallery div {
	margin: auto 0 0;

	display: flex;
	flex-wrap: wrap;

	justify-content: center;

	background: none;
}
#team .gallery div img {
	margin: 0.5em;
	min-width: 250px;

	flex: 1 1 250px;

	object-fit: cover;
}
#team .gallery h3 {
	margin: 0;
}

/*
  Gallery
*/
#team div .teamInfo {
	display: block;
}

/*
  When page thin content stacks
*/
@media (max-width:621px) {
	#team div {
		justify-content: center;
		align-items: center;

		flex-direction: column;
  }
	#team div img {
		min-width: 0;
	}
	#team div div {
		margin: 1em;
	}
}
